---
layout: page
---
<div class="network-section">
  <h2>Mentors</h2>
  <div class="people-list">
    {% for mentor in site.data.mentors %}
      <div class="person">
        <p>{{ mentor.firstname[0] }}</p>
        <p>{{ mentor.affiliation }}</p>
        <p><a href="{{ mentor.url }}" target="_blank">{{ mentor.url }}</a></p>
      </div>
    {% endfor %}
  </div>
  <hr>

  <h2>Mentees</h2>
  <div class="people-list">
    {% for mentee in site.data.mentees %}
      <div class="person">
        <p>{{ mentee.firstname[0] }}</p>
        <p>{{ mentee.affiliation }}</p>
        <p><a href="{{ mentee.url }}" target="_blank">{{ mentee.url }}</a></p>
      </div>
    {% endfor %}
  </div>
  <hr>

  <h2>Collaborators</h2>
  <div class="people-list">
    {% for collaborator in site.data.collaborators %}
      <div class="person">
        <p>{{ collaborator.firstname[0] }}</p>
        <p>{{ collaborator.affiliation }}</p>
        <p><a href="{{ collaborator.url }}" target="_blank">{{ collaborator.url }}</a></p>
      </div>
    {% endfor %}
  </div>
  <hr>

  <h2>Students</h2>
  <div class="people-list">
    {% for student in site.data.students %}
      <div class="person">
        <p>{{ student }}</p>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .network-section {
    margin: 20px;
  }
  .network-section h2 {
    margin-top: 20px;
  }
  .people-list {
    margin-bottom: 20px;
  }
  .person {
    margin-bottom: 20px; /* Add space between people */
  }
  .person p {
    margin: 0; /* Ensure no extra margin between lines */
  }
  .person p + p {
    margin-top: 5px; /* Add a small margin between lines */
  }
  .network-section hr {
    margin: 20px 0;
  }
</style>
